<body class="hold-transition sidebar-mini text-sm layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <!-- Navbar -->
    <app-topbar></app-topbar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Update Promo</h1><br/>
              <a routerLink="/master-promo" class="btn btn-primary"><i class="fas fa-long-arrow-alt-left"></i>  Back to Promo List</a>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Update Promo</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <!-- Default box -->
          <div class="card">
              <div class="card-header">
                  <h3 class="card-title"></h3>
                  <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                  </div>
              </div>

              <div class="card-body">
                 <div class="row">
                     <div class="col-md-3">
                         <!-- Profile Image -->
                         <br/>
                          <div class="card card-warning card-outline">
                              <div class="card-body box-profile">
                                  <!-- Upload image input-->
                                  <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                    <input id="upload" type="file" (change)="onFileChange($event)" name="logo_bank_photo" class="form-control border-0">
                                    <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                                    <div class="input-group-append">
                                        <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                                    </div>
                                  </div>

                                  <!-- Uploaded image area-->
                                  <p class="font-italic">
                                    Upload promo image <b style="color:red">*</b><br><br>
                                    Image Size<br>
                                    Min  : 800 pixel x 600 pixel<br>
                                    Max : 1280 pixel x 800 pixel
                                  </p>
                                  <div *ngFor='let url of imageSrc' class="image-area mt-4"><img [src]="url" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                                    <p *ngIf="url != null" class="font-regular text-center">{{url.name}}</p>
                                  </div>
                              </div>
                              <!-- /.card-body -->
                          </div>
                          <!-- /.card -->
                     </div>
                     <div class="col-md-6">
                      <form role="form">
                          <div class="card-body">
                              <div class="form-group">
                                  <label for="newletterTitle">Promo name</label><label for="promoName" style="color:red">*</label>
                                  <input type="text" class="form-control" id="newletterTitle" [(ngModel)]="promo.promo_name" name="promo_name" placeholder="Type title" value="">
                              </div>
                              <!-- <div class="form-group">
                                  <label for="newletterTitle">Promo code</label>
                                  <input type="text" class="form-control" id="newletterTitle" [(ngModel)]="promo.promo_code" name="promo_code" placeholder="Type code" value="">
                              </div> -->
                              <div class="form-group">
                                <label for="productCat">Product Category</label><label for="productCategory" style="color:red">*</label>
                                <select (change)="selectedProductCategory($event)" name="id_product_category" class="form-control select2bs4" style="width: 100%;">
                                  <option [ngValue]="null" [disabled]="true" >-- Select Category --</option>
                                  <option *ngFor="let procat of dataProductCategory"
                                  [selected]="procat.id_product_category == promo.id_product_category"
                                  value='{"id": "{{procat.id_product_category}}","name": "{{procat.name_product_category}}"}'>{{procat.name_product_category}}</option>
                                </select>
                              </div>
                              <div class="form-group">
                                  <label for="discount">Discount (%)</label><label for="disc" style="color:red">*</label>
                                  <input type="text" class="form-control" id="discount" [(ngModel)]="promo.promo_amount" name="promo_amount" placeholder="Type discount ex: 30" value="">
                              </div>
                              <div class="form-group">
                                <label for="promo_stock">Promo Stock</label><label for="promoStock" style="color:red">*</label>
                                <input type="text" class="form-control" id="promo_stock" [(ngModel)]="promo.promo_stock" name="promo_stock" placeholder="Promo Stock" value="">
                              </div>
                              <div class="form-row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                      <label>Promo Period Start</label><label for="periodStart" style="color:red">*</label>
                                      <input type="date" class="form-control" [ngModel]="promo.promo_start | date:'yyyy-MM-dd'"  (change)="StartdateInput($event)"     name="promo_start" >
                                  </div>
                                </div>
                            </div>
                              <div class="form-row">
                                  <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Promo period Expired</label><label for="periodExp" style="color:red">*</label>
                                        <input type="date" class="form-control" [ngModel]="promo.promo_exp | date:'yyyy-MM-dd'" (change)="dateInput($event)" name="promo_exp" palceholder="Expired Date">
                                    </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                <label for="promoDesc">Promo Description</label>
                                <textarea rows="3" class="form-control" [(ngModel)]="promo.promo_desc" name="promo_desc" placeholder="Type your promo description" value=""></textarea>
                              </div>
                              <div class="form-group">
                                  <label for="termCondition">Term and condition</label>
                                  <textarea rows="3" class="form-control" [(ngModel)]="promo.terms_conditions" name="terms_conditions" placeholder="Type your term and condition" value=""></textarea>
                              </div>
                              <div class="alert alert-info" role="alert" *ngIf="errorMessage==''&&isLoading">
                                Processing Data, Please Wait...
                              </div>
                              <div class="alert alert-danger" role="alert" *ngIf="errorMessage!=''">
                                Update failed: {{ errorMessage }}
                              </div>
                              <div class="form-group">
                                  <br/><br/><button (click)="onUpdatePromo()" type="submit" class="btn btn-primary">Save Promo</button>
                              </div>
                          </div>
                          <!-- /.card-body -->
                      </form>
                     </div>
                 </div>
              </div>
              <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <app-control-sidebar></app-control-sidebar>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <app-footer></app-footer>
  </div>
  <!-- ./wrapper -->

</body>
