<body class="hold-transition sidebar-mini text-sm layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <app-topbar></app-topbar>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <app-sidebar></app-sidebar>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Master Wishlist</h1><br/>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="dashboard.php">Dashboard</a></li>
                  <li class="breadcrumb-item active">Master Wishlist</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Wishlist</h3>
                    <div class="card-tools">
                        <input (input)="filterData($event)" placeholder="Search" />
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Date</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let wishlist of dataWishlist">
                        <tr>
                            <td style="padding: 7px;
                            width: 20%;
                            text-align: center;
                            vertical-align: top;">
                              <img *ngIf="wishlist.path_photo != ''" src="http://absdigital.id:55000{{ wishlist.path_photo }}" style="height: 50px;">
                              <img *ngIf="wishlist.path_photo == ''" src="http://absdigital.id:55000{{'/home/edproot/rag.absdigital.id/rentagown/cmd/rentagown/public/product_detail/0_20210130140548_WG2001_10-1-770x513.jpg' }}" style="height: 50px;">
                              <!-- <p *ngIf="wishlist.path_photo == ''" class="text-center">Wishlist Image not available</p> -->
                            </td>
                            <td>{{ wishlist.product_name | titlecase }} </td>
                            <td>{{ wishlist.product_price | currency:'Rp ':'symbol':'3.0' }} </td>
                            <td>{{ wishlist.created_at | date: 'dd-MMM-YYYY' }}</td>
                            <td>{{ wishlist.name | titlecase }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Date</th>
                        <th>User</th>
                    </tr>
                    </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <app-control-sidebar></app-control-sidebar>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->
      <app-footer></app-footer>
    </div>
    <!-- ./wrapper -->

  </body>
