<body class="hold-transition sidebar-mini text-sm layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <app-topbar></app-topbar>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <app-sidebar></app-sidebar>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Update Product</h1><br/>
                <a routerLink="/master-product" class="btn btn-primary"><i class="fas fa-long-arrow-alt-left"></i>  Back to Product List</a>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active">Update Product</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{product.product_name}}</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                   <div class="row">
                       <div class="col-md-3">
                           <!-- Profile Image -->
                           <br/>
                            <div class="card card-warning card-outline">
                                <div class="card-body box-profile">
                                    <!-- Upload image input-->
                                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                        <input id="upload" type="file"  multiple (change)="onFileChange($event)" class="form-control border-0">
                                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                                        <div class="input-group-append">
                                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                                        </div>
                                    </div>

                                    <!-- Uploaded image area-->
                                    <p class="font-italic">
                                      Upload product image <b style="color:red">*</b><br><br>
                                      Image Size<br>
                                      Min  : 418 pixel x 618 pixel (Portrait)<br>
                                      Max : 836 pixel x 1,236 pixel (Portrait)
                                    </p>
                                    <div *ngFor='let url of imageSrc' class="image-area mt-4"><img [src]="url" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                                      <p *ngIf="url != null" class="font-regular text-center">{{url.name}}</p>
                                    </div>
                                    <p *ngIf="errorMessage != null" class="font-italic text-center" style="color:red">{{errorMessage}}</p>
                                    <div *ngIf="imageSrc == ''" class="image-area mt-4"><img *ngFor="let productImage of dataPhoto; let i = index" [attr.data-index]="i" id="imageResult" src="https://apps.rentagown.id:50443{{ productImage.path_photo }}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                                    <div *ngIf="imageSrc != ''" class="image-area mt-4"><img *ngFor="let productImage of dataPhoto" id="imageResult" [src]="'https://apps.rentagown.id:50443{{productImage.path_photo}}'" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                       </div>
                       <div class="col-md-6">
                        <form role="form">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="productName">Product Name</label><label for="productName" style="color:red">*</label>
                                            <input type="text" class="form-control" id="productName" [(ngModel)]="product.product_name" name="product_name" placeholder="Type product name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="productId">Product ID</label><label for="productId" style="color:red">*</label>
                                            <input type="text" class="form-control" id="productId" [(ngModel)]="product.id_product" name="id_product" placeholder="Type product ID" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="productCat">Product Category</label><label for="productCat" style="color:red">*</label>
                                    <select (change)="selectedProductCategory($event)" name="id_product_category" class="form-control select2bs4" style="width: 100%;" required>
                                      <option [ngValue]="null" [disabled]="true" >-- Select Category --</option>
                                      <option *ngFor="let procat of dataProductCategory"
                                      [selected]="procat.name_product_category == product.name_product_category"
                                       value='{"id": "{{procat.id_product_category}}","name": "{{procat.name_product_category}}"}'
                                      >{{procat.name_product_category}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="price">Price</label><label for="price" style="color:red">*</label>
                                    <input type="number" class="form-control" id="price" [(ngModel)]="product.product_price" name="product_price" placeholder="Product price" required>
                                </div>
                                <div class="form-group">
                                  <label for="productDescription">Product Description</label><label for="productDescription" style="color:red">*</label>
                                  <textarea type="textarea" class="form-control" id="productDesc" [(ngModel)]="product.product_desc" name="product_desc" required>Product Description</textarea>
                              </div>
                                <div class="form-row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="productStatus">Product Status</label><label for="productStatus" style="color:red">*</label>
                                      <select (change)="selectedProductStatus($event)" name="product_status" class="form-control select2bs4" style="width: 100%;" required>
                                        <option [ngValue]="null" [disabled]="true" >-- Select Product Status --</option>
                                        <option value="1" [selected]="product.product_status==1" > Available</option>
                                        <option value="0" [selected]="product.product_status==0">Not Available</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="productQuantity">Product Quantity</label><label for="productQuantity" style="color:red">*</label>
                                        <input type="number" class="form-control" id="productQuantity" [(ngModel)]="product.product_quantity" name="product_quantity" required>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <br/><br/><button (click)="onUpdateProduct()" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </form>
                       </div>
                       <div class="col-md-3">
                         <h4>Product Rating</h4>
                         <span  *ngIf="product.Rating && product.Rating.length>0" >
                         <div class="card"  *ngFor="let rat of product.Rating">
                          <h5 class="card-header">Rating: {{rat.rating_score}}</h5>
                          <div class="card-body">
                            <p class="card-text">{{rat.rating_desc}}</p>
                            <p class="card-text">{{rat.name}}</p>
                          </div>
                        </div>
                      </span>
                        <div   *ngIf="product.Rating && product.Rating.length < 1"  class="card"  >
                          <h5 class="card-header">No Rating Yet</h5>
                        </div>
                    </div>
                   </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
    </div>
  </body>
