<body class="hold-transition sidebar-mini text-sm layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <app-topbar></app-topbar>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <app-sidebar></app-sidebar>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Master Newsletter</h1><br/>
                <a href="/add-newsletter" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add Newsletter</a>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active">Master Newsletter</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Newsletter</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Newsletter</th>
                        <th>Date</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Newsletter Januari 2021</td>
                        <td>09/01/2021</td>
                        <td>kambalya@gmail.com, violepd@gmail.com, emasra@gmail.com</td>
                        <td class="text-center">
                            <a id="dropdownAction1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                            <ul aria-labelledby="dropdownAction1" class="dropdown-menu border-0 shadow">
                                <li><a href="master-newsletter-update.php" class="dropdown-item">View </a></li>
                                <li><a href="#" class="dropdown-item">Delete </a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Newsletter Februari 2021</td>
                        <td>09/01/2021</td>
                        <td>All User</td>
                        <td class="text-center">
                            <a id="dropdownAction1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                            <ul aria-labelledby="dropdownAction1" class="dropdown-menu border-0 shadow">
                                <li><a href="master-newsletter-update.php" class="dropdown-item">View </a></li>
                                <li><a href="#" class="dropdown-item">Delete </a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Newsletter Maret 2021</td>
                        <td>09/01/2021</td>
                        <td>All User</td>
                        <td class="text-center">
                            <a id="dropdownAction1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                            <ul aria-labelledby="dropdownAction1" class="dropdown-menu border-0 shadow">
                                <li><a href="master-newsletter-update.php" class="dropdown-item">View </a></li>
                                <li><a href="#" class="dropdown-item">Delete </a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Newsletter April 2021</td>
                        <td>09/01/2021</td>
                        <td>All User</td>
                        <td class="text-center">
                            <a id="dropdownAction1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                            <ul aria-labelledby="dropdownAction1" class="dropdown-menu border-0 shadow">
                                <li><a href="master-newsletter-update.php" class="dropdown-item">View </a></li>
                                <li><a href="#" class="dropdown-item">Delete </a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Newsletter Mei 2021</td>
                        <td>09/01/2021</td>
                        <td>hamimati@gmail.com, dagelarm@gmail.com, elmayasos@gmail.com</td>
                        <td class="text-center">
                            <a id="dropdownAction1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                            <ul aria-labelledby="dropdownAction1" class="dropdown-menu border-0 shadow">
                                <li><a href="master-newsletter-update.php" class="dropdown-item">View </a></li>
                                <li><a href="#" class="dropdown-item">Delete </a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Newsletter Juni 2021</td>
                        <td>09/01/2021</td>
                        <td>All User</td>
                        <td class="text-center">
                            <a id="dropdownAction1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                            <ul aria-labelledby="dropdownAction1" class="dropdown-menu border-0 shadow">
                                <li><a href="master-newsletter-update.php" class="dropdown-item">View </a></li>
                                <li><a href="#" class="dropdown-item">Delete </a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Newsletter Juli 2021</td>
                        <td>09/01/2021</td>
                        <td>All User</td>
                        <td class="text-center">
                            <a id="dropdownAction1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                            <ul aria-labelledby="dropdownAction1" class="dropdown-menu border-0 shadow">
                                <li><a href="master-newsletter-update.php" class="dropdown-item">View </a></li>
                                <li><a href="#" class="dropdown-item">Delete </a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Newsletter Agustus 2021</td>
                        <td>09/01/2021</td>
                        <td>All User</td>
                        <td class="text-center">
                            <a id="dropdownAction1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                            <ul aria-labelledby="dropdownAction1" class="dropdown-menu border-0 shadow">
                                <li><a href="master-newsletter-update.php" class="dropdown-item">View </a></li>
                                <li><a href="#" class="dropdown-item">Delete </a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Newsletter Januari 2021</td>
                        <td>09/01/2021</td>
                        <td>All User</td>
                        <td class="text-center">
                            <a id="dropdownAction1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                            <ul aria-labelledby="dropdownAction1" class="dropdown-menu border-0 shadow">
                                <li><a href="/update-newsletter" class="dropdown-item">View </a></li>
                                <li><a href="#" class="dropdown-item">Delete </a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Newsletter</th>
                        <th>Date</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <app-control-sidebar></app-control-sidebar>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->
      <app-footer></app-footer>
    </div>
    <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->
  <?php require 'inc/script.php'; ?>
  </body>