<body class="hold-transition sidebar-mini text-sm layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <app-topbar></app-topbar>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <app-sidebar></app-sidebar>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Add Newsletter</h1><br/>
                <a href="/master-newsletter" class="btn btn-primary"><i class="fas fa-long-arrow-alt-left"></i>  Back to Newsletter List</a>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active">Add Newsletter</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                   <div class="row">
                       <div class="col-md-3">
                           <!-- Profile Image -->
                           <br/>
                            <div class="card card-warning card-outline">
                                <div class="card-body box-profile">
                                    <!-- Upload image input-->
                                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                        <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                                        <div class="input-group-append">
                                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                                        </div>
                                    </div>

                                    <!-- Uploaded image area-->
                                    <p class="font-italic text-center">The image uploaded will be rendered below.</p>
                                    <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                       </div>
                       <div class="col-md-6">
                        <form role="form">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="newletterTitle">Newsletter title</label>
                                    <input type="text" class="form-control" id="newletterTitle" placeholder="Type newsletter title" value="">
                                </div>
                                <div class="form-group">
                                    <label for="newletterContent">Newsletter content</label>
                                    <textarea type="text" class="form-control" id="newletterContent" placeholder="Type newsletter content"></textarea>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label for="userEmailSelect">User Email</label>
                                            <select class="form-control select2bs4" multiple="multiple" data-placeholder="Select Email" style="width: 100%;">
                                                <option>hardianto_jp@yahoo.com</option>
                                                <option>kambalya@gmail.com</option>
                                                <option>violepd@gmail.com</option>
                                                <option>emasra@gmail.com</option>
                                                <option>hamimati@gmail.com</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group clearfix">
                                            <br/><br/>
                                            <div class="icheck-success d-inline">
                                                <input type="checkbox" id="checkAllUser">
                                                <label for="checkAllUser">
                                                    All User
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <br/><br/><button (click)="onCreateNewsletter()" type="submit" class="btn btn-primary">Send Newsletter</button>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </form>
                       </div>
                   </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <app-control-sidebar></app-control-sidebar>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->
      <app-footer></app-footer>
    </div>
    <!-- ./wrapper -->
  </body>
