<body class="hold-transition sidebar-mini text-sm layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <app-topbar></app-topbar>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <app-sidebar></app-sidebar>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Master Product</h1><br/>
                <a routerLink="/add-product" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add New Product</a> &nbsp; <a routerLink="/master-product-category" class="btn btn-default"><i class="fas fa-plus-circle"></i> Add Product Category</a>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active">Master Product</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Product List</h3>
                    <div class="card-tools">
                        <input (input)="filterData($event)" placeholder="Search" />
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Product Category</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let product of dataProduct">
                            <tr>
                                <td>{{ product.id_product }}</td>
                                <td><img src="https://apps.rentagown.id:50443{{ product.path_photo }}" style="width: 95px; height: 155px; display: block; margin-left: auto; margin-right: auto;"></td>
                                <td>{{ product.product_name | titlecase }}</td>
                                <td>{{ product.name_product_category | titlecase }}</td>
                                <td>{{ product.product_price | currency:'Rp ':'symbol':'3.0' }}</td>
                                <td class="text-center">
                                    <a id="dropdownAction2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                                    <ul aria-labelledby="dropdownAction2" class="dropdown-menu border-0 shadow">
                                        <li><a routerLink="/update-product/{{ product.id_product }}" class="dropdown-item">View or Update </a></li>
                                        <li><a (click)="onDeleteProduct(product.id_product)" type="button" class="dropdown-item">Delete</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Product ID</th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Product Category</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <app-control-sidebar></app-control-sidebar>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->
      <app-footer></app-footer>
    </div>
    <!-- ./wrapper -->

  </body>
