<body class="hold-transition sidebar-mini text-sm layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <app-topbar></app-topbar>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <app-sidebar></app-sidebar>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Sales Invoice</h1><br/>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active">Sales Invoice</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sales Invoice List</h3>
                    <div class="card-tools">
                        <input (input)="filterData($event)" placeholder="Search" />
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                  Items per Page:
                  <select (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                  <table class="table table-bordered table-striped" style="font-size: small;">
                    <thead>
                      <tr>
                        <th>Invoice Number</th>
                        <th>Customer Name</th>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Down Payment</th>
                        <th>Remaining Bills</th>
                        <th>Transaction Status</th>
                        <th>Payment Status</th>
                        <th>Payment Type</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let booking of dataSalesOrder | paginate : {
                      itemsPerPage: pageSize,
                      currentPage: pageS,
                      totalItems: count
                      }; let i = index" [class.active]="i == currentIndex">
                      <tr *ngIf="booking.status > 0" [ngClass]="(booking.status == 1)?'table-danger':
                      (booking.status == 2)?'table-warning':'table-success'
                      ">
                        <td>{{ booking.last_payment_invoice }}</td>
                        <td>{{ booking.name | titlecase }}</td>
                        <td><img *ngIf="booking.product_path_photo !=''" src="http://absdigital.id:55000{{ booking.product_path_photo }}"
                            style="height: 100px;"></td>
                        <td>{{ booking.product_name | titlecase }}</td>
                        <td *ngIf="booking.product_final_price != 0">{{ booking.product_final_price | currency:'Rp ':'symbol':'3.0'}}</td>
                        <td *ngIf="booking.product_final_price == 0">Rp 0</td>
                        <td *ngIf="booking.down_payment != 0">{{ booking.down_payment | currency:'Rp ':'symbol':'3.0' }}</td>
                        <td *ngIf="booking.down_payment == 0 && booking.payment_type == 1">Rp 0</td>
                        <td *ngIf="booking.payment_type == 2">-</td>
                        <td *ngIf="booking.remaining_bills != 0">{{ booking.remaining_bills | currency:'Rp ':'symbol':'3.0' }}</td>
                        <td *ngIf="booking.remaining_bills == 0">{{ booking.next_payment_amount | currency:'Rp ':'symbol':'3.0' }}</td>
                        <td>{{ booking.status_name | titlecase }}</td>
                        <td>{{ booking.last_payment_status_name | titlecase }}</td>
                        <td>{{ booking.payment_type_name | titlecase }}</td>
                        <td class="text-center">
                          <a *ngIf="booking.payment_type == 1" routerLink="/sales-invoice-detail/{{ booking.id_transaction }}" class="dropdown-item">View Sales Invoice DP</a>
                          <a routerLink="/sales-invoice-detail-fp/{{ booking.id_transaction }}" class="dropdown-item">View Sales Invoice Repayment</a>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Invoice Number</th>
                        <th>Customer Name</th>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Down Payment</th>
                        <th>Remaining Bills</th>
                        <th>Transaction Status</th>
                        <th>Payment Status</th>
                        <th>Payment Type</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                  </table>
                  <div class="col-md-12" style="text-align: right;">
                    <pagination-controls
                      previousLabel="Prev"
                      nextLabel="Next"
                      [responsive]="true"
                      (pageChange)="handlePageChange($event)"
                    ></pagination-controls>
                  </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <app-control-sidebar></app-control-sidebar>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->
      <app-footer></app-footer>
    </div>
    <!-- ./wrapper -->
  </body>
