<body class="hold-transition sidebar-mini text-sm layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <app-topbar></app-topbar>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <app-sidebar></app-sidebar>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Sales Invoice</h1><br/>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="dashboard.php">Dashboard</a></li>
                  <li class="breadcrumb-item active">Sales Invoice</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sales Invoice List</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>SI Number</th>
                        <th>SI Date</th>
                        <th>Gown Name</th>
                        <th>Rent Date</th>
                        <th>Total Price</th>
                        <th>Deposit Booking</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>SI-RAG001</td>
                        <td>14/01/2021</td>
                        <td>Xhildva Chiffon Dress</td>
                        <td>01/02/2021</td>
                        <td>5,000,000</td>
                        <td>Yes</td>
                        <td class="text-center">
                            <a id="dropdownAction1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                            <ul aria-labelledby="dropdownAction1" class="dropdown-menu border-0 shadow">
                                <li><a href="sales-invoice-update.php" class="dropdown-item">View </a></li>
                                <li><a href="#" class="dropdown-item">Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>SO Number</th>
                        <th>SO Date</th>
                        <th>Gown Name</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Rent Date</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <app-control-sidebar></app-control-sidebar>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->
      <app-footer></app-footer>
    </div>
    <!-- ./wrapper -->
  </body>